@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 60 9% 97%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.tag {
  display: inline-flex;
  align-items: baseline;
}

.tag::before {
  content: "";
  display: inline-block;
  -webkit-mask-image: url(../../public/tag-icons/hash.svg);
  mask-image: url(../../public/tag-icons/hash.svg);
  background: currentColor;
  width: 16px;
  height: 16px;
  margin-inline-end: 0px;
  align-self: center;
}

.tag[data-icon=alert-triangle]::before {
  -webkit-mask-image: url(../../public/tag-icons/alert-triangle.svg);
  mask-image: url(../../public/tag-icons/alert-triangle.svg);
}
.tag[data-icon=bookmark]::before {
  -webkit-mask-image: url(../../public/tag-icons/bookmark.svg);
  mask-image: url(../../public/tag-icons/bookmark.svg);
}
.tag[data-icon=calendar]::before {
  -webkit-mask-image: url(../../public/tag-icons/calendar.svg);
  mask-image: url(../../public/tag-icons/calendar.svg);
}
.tag[data-icon=gift]::before {
  -webkit-mask-image: url(../../public/tag-icons/gift.svg);
  mask-image: url(../../public/tag-icons/gift.svg);
}
.tag[data-icon=hash]::before {
  -webkit-mask-image: url(../../public/tag-icons/hash.svg);
  mask-image: url(../../public/tag-icons/hash.svg);
}
.tag[data-icon=heart]::before {
  -webkit-mask-image: url(../../public/tag-icons/heart.svg);
  mask-image: url(../../public/tag-icons/heart.svg);
}
.tag[data-icon=help-circle]::before {
  -webkit-mask-image: url(../../public/tag-icons/help-circle.svg);
  mask-image: url(../../public/tag-icons/help-circle.svg);
}
.tag[data-icon=info]::before {
  -webkit-mask-image: url(../../public/tag-icons/info.svg);
  mask-image: url(../../public/tag-icons/info.svg);
}
.tag[data-icon=lock]::before {
  -webkit-mask-image: url(../../public/tag-icons/lock.svg);
  mask-image: url(../../public/tag-icons/lock.svg);
}
.tag[data-icon=mail]::before {
  -webkit-mask-image: url(../../public/tag-icons/mail.svg);
  mask-image: url(../../public/tag-icons/mail.svg);
}
.tag[data-icon=map-pin]::before {
  -webkit-mask-image: url(../../public/tag-icons/mail.svg);
  mask-image: url(../../public/tag-icons/mail.svg);
}
.tag[data-icon=shield]::before {
  -webkit-mask-image: url(../../public/tag-icons/shield.svg);
  mask-image: url(../../public/tag-icons/shield.svg);
}
.tag[data-icon=star]::before {
  -webkit-mask-image: url(../../public/tag-icons/star.svg);
  mask-image: url(../../public/tag-icons/star.svg);
}
.tag[data-icon=user]::before {
  -webkit-mask-image: url(../../public/tag-icons/user.svg);
  mask-image: url(../../public/tag-icons/user.svg);
}
.tag[data-icon=users]::before {
  -webkit-mask-image: url(../../public/tag-icons/users.svg);
  mask-image: url(../../public/tag-icons/users.svg);
}
.tag[data-icon=zap]::before {
  -webkit-mask-image: url(../../public/tag-icons/mail.svg);
  mask-image: url(../../public/tag-icons/mail.svg);
}

.neon .tag::after {
  /*
    We use hsl to generate the base color because the hue in hsl has a wider color range than oklch.
    See https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch
    But oklch allows for a consistent lightness perceived by humans.
    See https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl
    That's why wrap the hsl value in oklch, creating a relative value with constant
    lightness, chroma and alpha but keep the hue
  */
  background: hsl(var(--tag-color) 100% 50% / 90%);
  background: oklch(from hsl(var(--tag-color) 100% 50%) 0.5 0.5 h / 0.4);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, oklch(from hsl(var(--tag-color) 100% 50%) 0.5 0.5 h) 80%, rgba(255,255,255,0) 100%);
  width: 100%;
  height: 1px;
  filter: blur(3px);
  margin-top: -5px;
  display: block;
  content: "";
}

.chip-light .tag {
  padding-inline: 10px;
  border-radius: 15px;
  background: hsl(var(--tag-color) 50% 90% / 100%);
  color: hsl(var(--tag-color) 100% 20% / 100%);
  font-weight: 700;
}

.chip-dark .tag {
  padding-inline: 10px;
  border-radius: 15px;
  color: hsl(var(--tag-color) 50% 90% / 100%);
  background-color: hsl(var(--tag-color) 100% 25% / 100%);
  font-weight: 700;
}

.chip-border .tag {
  padding-inline: 10px;
  border-radius: 15px;
  border-width: 1px;
  border-color: hsl(var(--tag-color) 50% 80% / 100%);
  color: hsl(var(--tag-color) 100% 20% / 100%);
  font-weight: 700;
}

.spark-extension {
  @apply bg-stone-700 text-white px-2 py-1 rounded;
}