---
import { MainMenu } from "../container/MainMenu/MainMenu";
import { SparkInput } from "../container/SparkInput/SparkInput";
import { SparkList } from "../container/SparkList/SparkList";
import Layout from "../layouts/BaseLayout.astro";
---

<script src="../scripts/files/automaticBackups.ts"></script>
<Layout title="Sparktags">
  <main class="grid lg:grid-cols-[1fr_400px_600px_1fr] gap-6 h-full relative">
    <div>
      <div class="py-10 flex flex-col place-items-end sticky top-0">
        <!-- We need an h1 for accessibility reasons -->
        <h1 class="sr-only">Dashboard</h1>
        <MainMenu client:only="react" />
      </div>
    </div>
    <!-- the following div is needed for the sticky aside to work -->
    <div>
      <aside
        class="py-10 flex justify-between flex-col max-h-screen h-screen sticky top-0"
      >
        <SparkInput client:only="react" />
        <p>sparktag@derwebcoder.de</p>
      </aside>
    </div>
    <section>
      <SparkList client:only="react" />
    </section>
    <div></div>
  </main>
</Layout>
