---
import Layout from '../layouts/Layout.astro';
---

<!-- <script src="../scripts/pip.ts"></script>
<script src="../scripts/db/index.ts"></script> -->
<Layout title="Sparktags Demo Page">
	<main>
		<h1>Sparktags - Under Construction</h1>
		<p>sparktags@derwebcoder.de</p>
	</main>
</Layout>