---
import { SparkInput } from "../application/SparkInput/SparkInput";
import { SparkList } from "../application/SparkList/SparkList";
import Layout from "../layouts/BaseLayout.astro";
---

<!-- <script src="../scripts/pip.ts"></script>
<script src="../scripts/db/index.ts"></script> -->
<Layout title="Sparktags Demo Page">
  <main>
    <h1>Sparktag - Under Construction</h1>

    <div>
      <label>
        <span>New spark</span>
        <SparkInput client:only />
      </label>
      <div>
        <span>Sparks</span>
        <SparkList client:only />
      </div>
    </div>

    <p>sparktag@derwebcoder.de</p>
  </main>
</Layout>
