---
import { AppMenu } from "@/container/AppMenu/AppMenu";
import { MainMenu } from "../container/MainMenu/MainMenu";
import { SearchInput } from "../container/SearchInput/SearchInput";
import { SparkInput } from "../container/SparkInput/SparkInput";
import { SparkList } from "../container/SparkList/SparkList";
import Layout from "../layouts/BaseLayout.astro";
---

<script src="../scripts/files/automaticBackups.ts"></script>
<script src="../scripts/store/queryStore.ts"></script>
<script src="../scripts/theme/initTheme.ts"></script>
<Layout title="Sparktags">
  <main
    class="px-2 md:px-0 grid md:grid-cols-[max-content_minmax(300px,_400px)_minmax(350px,_600px)] grid-cols-[min-content_minmax(auto,_600px)] md:grid-rows-[1fr] grid-rows-[max-content_max-content_max-content] md:gap-6 gap-2 h-full relative place-self-center"
  >
    <div>
      <div class="md:py-10 pt-1 flex flex-col place-items-end sticky top-0">
        <!-- We need an h1 for accessibility reasons -->
        <h1 class="sr-only">Dashboard</h1>
        <MainMenu client:only="react" />
      </div>
    </div>
    <!-- the following div is needed for the sticky aside to work -->
    <div>
      <aside
        class="md:py-10 pt-1 grid grid-rows-[max-content_max-content_max-content_0px] md:grid-rows-[max-content_minmax(200px,_auto)_1fr_max-content] gap-4 md:max-h-screen md:h-screen sticky top-0"
      >
        <div>
          <AppMenu />
        </div>
        <SparkInput client:only="react" />
        <div>
          <SearchInput client:only="react" />
        </div>
        <div class="hidden md:block">
          <p>sparktag@derwebcoder.de</p>
        </div>
      </aside>
    </div>
    <section class="col-span-2 md:col-span-1">
      <SparkList client:only="react" />
    </section>
    <div class="block md:hidden col-span-2 md:col-span-1">
      <p>sparktag@derwebcoder.de</p>
    </div>
  </main>
</Layout>
